<template>
    <canvas ref="view"></canvas>
    <div>
        <div class="slide-wrapper">
            <div class="slide-item">
                <h3 class="slide-item__title">Slide 1</h3>
                <img src="" class="slide-item__image">
            </div>
            <div class="slide-item">
                <h3 class="slide-item__title">Slide 2</h3>
                <img src="" class="slide-item__image">
            </div>
            <div class="slide-item">
                <h3 class="slide-item__title">Slide 3</h3>
                <img src="" class="slide-item__image">
            </div>
        </div>			
    </div>
    <a href="#" class="scene-nav scene-nav--prev" data-nav="previous">PREV</a>
    <a href="#" class="scene-nav scene-nav--next" data-nav="next">NEXT</a>
</template>

<script setup lang="ts">
import { Application, Assets, Sprite } from 'pixi.js';
import * as PIXI from 'pixi.js';
import { ShockwaveFilter } from 'pixi-filters';
import { onMounted, ref } from 'vue';
import waterImg from "../../assets/water.jpg";
import blurImg from "../../assets/blur.jpeg";

// const renderer = new autoDetectRenderer();
const stage = new PIXI.Container();
const slidesContainer = new PIXI.Container();
const displacementSprite = PIXI.Sprite.from(blurImg);
const displacementFilter = new PIXI.filters.DisplacementFilter(displacementSprite);


interface Props {
    label?: string;
}
const props = withDefaults(defineProps<Props>(), {
    label: '',
});

const emit = defineEmits<{
    (e: 'update:modelValue', value: string): void;
}>();

let app: Application
const view = ref<HTMLCanvasElement>()

function createApplication (el: HTMLCanvasElement) {
  const app = new Application({
    width: 1920,
    height: 1080,
    view: el,
    backgroundColor: 1
  })
  return app
}


stage.addChild(slidesContainer)
stage.filters = [displacementFilter]


function setupImg() {
  const bgImage = PIXI.Sprite.from(waterImg);
  bgImage.anchor.set(0.5);
  bgImage.x = app.screen.width / 2;
  bgImage.y = app.screen.height / 2;
  stage.addChild(bgImage);
}

onMounted(()=>{
  if(view.value) {
    app = createApplication(view.value)
    setupImg()
    app.stage.addChild(stage)
    app.ticker.add( function( delta ) {
	    // Optionally have a default animation
        displacementSprite.x += 10 * delta;
        displacementSprite.y += 3 * delta;
	
        // Render  stage
        // renderer.render( stage );
    });
  }
})
</script>

<style scoped lang="sass">
.slide-wrapper
    display: none
    .scene-nav
        position: fixed
        top: 50%
        transform: translateY(-50%)
        z-index: 10
        display: inline-block

    .scene-nav--next
        right: 2%

    .scene-nav--prev
        left: 2%
</style>