<template>
  <canvas ref="view"></canvas>
</template>

<script setup lang="ts">
import { Application, Assets, Sprite } from 'pixi.js';
import * as PIXI from 'pixi.js';
import { ShockwaveFilter } from 'pixi-filters';
import { onMounted, ref } from 'vue';
import waterImg from "../../assets/water.jpg";
import blurImg from "../../assets/blur.jpeg";


interface Props {
  label?: string;
}
const props = withDefaults(defineProps<Props>(), {
  label: '',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

let app: Application
const view = ref<HTMLCanvasElement>()


// const stageSize = {
//     width: 500,
//     height: 500,
// };
// let renderTexture = PIXI.RenderTexture.create(stageSize);
// const currentTexture = renderTexture;
// const outputSprite = new PIXI.Sprite(currentTexture);

// const container = new PIXI.Container();

// const texture = PIXI.Texture.from('/images/logo.png');

// for (let i = 0; i < 25; i++) {
//     const bunny = new PIXI.Sprite(texture);
//     bunny.x = (i % 5) * 30;
//     bunny.y = Math.floor(i / 5) * 30;
//     bunny.rotation = Math.random() * (Math.PI * 2);
//     container.addChild(bunny);
// }
// const setTexture = {
//   width:300, 
//   height: 300, 
//   scaleMode: PIXI.SCALE_MODES.LINEAR, 
//   resolution: 1
// }
// const brt = new PIXI.BaseRenderTexture(setTexture);
// const rt = new PIXI.RenderTexture(brt);

// const sprite = new PIXI.Sprite(rt);

// sprite.x = 450;
// sprite.y = 60;


function createApplication (el: HTMLCanvasElement) {
  const app = new Application({
    width: 1920,
    height: 1080,
    view: el,
    backgroundColor: 1
  })
  return app
}

const container = new PIXI.Container();

function setupImg() {
  const bgImage = PIXI.Sprite.from(waterImg);
  bgImage.anchor.set(0.5);
  bgImage.x = app.screen.width / 2;
  bgImage.y = app.screen.height / 2;
  container.addChild(bgImage);
}

function addText() {
  const style = new PIXI.TextStyle({
    fontFamily: 'Montserrat',
    fontSize: 140,
    fill: '#ffffff',
    dropShadow: true,
    dropShadowDistance: 2,
    dropShadowAngle: Math.PI / 2,
    dropShadowBlur: 3,
    dropShadowColor: '#000000'
  })

  const myText = new PIXI.Text('UNDERWATER', style)
  container.addChild(myText);

  myText.anchor.set(0.5);
  myText.x = app.screen.width / 2;
  myText.y = app.screen.height / 2;
}

const displacementSprite = PIXI.Sprite.from(blurImg);

let filter1: ShockwaveFilter
let filter2: ShockwaveFilter


function addFilter() {
  const displacementFilter = new PIXI.filters.DisplacementFilter(displacementSprite);

  displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT;
  displacementSprite.scale.set(0.5);

  container.addChild(displacementSprite);


  const options1 = {
    amplitude: 40,
    wavelength: 30,
    speed: 200,
    radius: 80
  }
  const ShockwaveFilter1 = new ShockwaveFilter([
    // Math.random() * app.screen.width,
    // Math.random() * app.screen.height
    mousePosition.value.x,
    mousePosition.value.y
  ], options1, 0)

  const options2 = {
    amplitude: 80,
    wavelength: 45,
    speed: 240,
    radius: 100
  }
  const ShockwaveFilter2 = new ShockwaveFilter([
    // Math.random() * app.screen.width,
    // Math.random() * app.screen.height
    mousePosition.value.x,
    mousePosition.value.y
  ], options2, 0)

  container.filters = [displacementFilter, ShockwaveFilter1, ShockwaveFilter2];
  filter1 = ShockwaveFilter1
  filter2 = ShockwaveFilter2
}

const mousePosition = ref({
  x: 0,
  y: 0
})

function movePlayer(e:any) {
  let pos = e.data.global
  console.log('test', pos.x, pos.y)
  mousePosition.value.x = pos.x
  mousePosition.value.y = pos.y
}

onMounted(()=>{
  if(view.value) {
    app = createApplication(view.value)
    setupImg()
    addText()
    addFilter()
    app.stage.addChild(container);

    // 偵測滑鼠位置
    app.stage.interactive = true;
    app.stage.on('pointermove', movePlayer)

    app.ticker.add(function(){
      // displacementSprite.x++;
      filter1.time += 0.01
      if(filter1.time > 0.4){
        filter1.time = 0;
        filter1.center = [
          mousePosition.value.x,
          mousePosition.value.y,
          // Math.random() * app.screen.width,
          // Math.random() * app.screen.height
        ]
      }
      filter2.time += 0.01
      if(filter2.time > 0.6){
        filter2.time = 0;
        filter2.center = [
          mousePosition.value.x,
          mousePosition.value.y,
          // Math.random() * app.screen.width,
          // Math.random() * app.screen.height
        ]
      }
    })
    // app.stage.addChild(container);
    // app.stage.addChild(sprite);
    // container.x = 100;
    // container.y = 60;

    // app.ticker.add(() => {
    //   app.renderer.render(container, {
    //     renderTexture: rt
    //   });
    // });
  }
})
</script>

<style scoped lang="sass">
canvas
  width: 100%
  height: 100%
  position: relative
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
</style>