<template>
  <div class="flex flex-col">
    <water-distortion></water-distortion>
  </div>
  <div>
    <carousel-distortion></carousel-distortion>
  </div>
  <router-view />
</template>

<script setup lang="ts">
import { ref } from 'vue';

import { useMouse } from '@vueuse/core';
import { useMainStore } from './stores/main.store';
import { useI18n } from 'vue-i18n';

import waterDistortion from './components/pixijs/water-distortion.vue';
import carouselDistortion from './components/pixijs/carousel-distortion.vue';

const store = useMainStore();
const { x, y } = useMouse();
const { t } = useI18n();

document.title += ` v${import.meta.env.PACKAGE_VERSION}`
</script>

<style lang="sass">
html, body, #app
  width: 100%
  height: 100%
  padding: 0
  margin: 0

#app
  display: flex
  flex-direction: column
</style>
